@using PersianTools.Web.Helper
@model List<List<PersianTools.Core.PersianDateTime>>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                لیست تعطیلات سال @Model.FirstOrDefault().FirstOrDefault().Year.ToString()
                <small>@PersianTools.Core.CharacterUtil.Convert(Model.FirstOrDefault().FirstOrDefault().Year)</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">تنظیمات 1</a>
                        </li>
                        <li>
                            <a href="#">تنظیمات 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @{
                foreach (var item in Model)
                {
                    var MainItem = item.FirstOrDefault(a => a.IsHoliDay);
                    Html.TableFor
                    <PersianTools.Core.PersianDateTime>
                        ()
                        .Columns(column =>
                        {
                            column.Expression(p => p.DateMetaDatas.FirstOrDefault(a => a.IsHoliDay).Id).Title("تاریخ");
                            column.Expression(p => p.DateMetaDatas.FirstOrDefault(a => a.IsHoliDay).DateTypeDesc).Title("نوع مناسبت");
                            column.Expression(p => p.DateMetaDatas.FirstOrDefault(a => a.IsHoliDay).IsHoliDay).Title("تعطیل است؟");
                            column.Expression(p => p.DateMetaDatas.FirstOrDefault(a => a.IsHoliDay).Description).Title("توضیحات");

                        })
                        .DataSource(item)
                        .ToHtml("basicTable", "table table-striped table-responsive", "", "");
                }
            }



        </div>
    </div>
</div>

