@model List<List<PersianTools.Core.PersianDateTime>>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                جدول
                <small>زیر عنوان جدول</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">تنظیمات 1</a>
                        </li>
                        <li>
                            <a href="#">تنظیمات 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نوع مناسبت</th>
                        <th>تعطیل است یا خیر</th>
                        <th>توضیحات</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var theDate in Model)
                    {
                        <tr>
                            <th scope="row">#</th>
                            <td>@metaData.DateTypeDesc</td>
                            <td>@metaData.IsHoliDay</td>
                            <td>@metaData.Description</td>
                        </tr>

                    }


                </tbody>
            </table>

        </div>
    </div>
</div>
