@{
    ViewBag.Title = "صفحه اصلی";
}


<div class="page-title">
    <div class="title_left">
        <h3>
            پروژه تقویم شمسی
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <p><a target="_blank" href="https://www.nuget.org/packages/PersianTools.Core" class="btn btn-primary btn-lg">مشاهده در GitHub &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <h4 class="brief"><i>نمایش تقویم</i></h4>
                                <div class="left col-xs-7">
                                    <h2>نمایش تقویم</h2>
                                    <p><strong>درباره: </strong> نمایش گرافیکی تقویم و کلیه مناسبت ها و تعطیلات </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-building"></i> تاریخ:</li>
                                        <li><i class="fa fa-phone"></i> نسخه #:</li>
                                    </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                    <img src="../images/calendar.png" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <p class="ratings">
                                        <a>4.0</a>
                                        <a href="#"><span class="fa fa-star"></span></a>
                                        <a href="#"><span class="fa fa-star"></span></a>
                                        <a href="#"><span class="fa fa-star"></span></a>
                                        <a href="#"><span class="fa fa-star"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <button type="button" class="btn btn-success btn-xs">
                                        <i class="fa fa-user">
                                        </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Calendar")">
                                            <i class="fa fa-user"> </i> مشاهد فرم
                                        </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>