@{
    ViewBag.Title = "تقویم شمسی";
}
@using PersianTools.Core
<link href="~/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
<link href="~/Content/Calendar.css" rel="stylesheet" />
<div class="page-title">
    <div class="title_left">
        <h3>
            پروژه تقویم شمسی
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <p><a target="_blank" href="https://www.nuget.org/packages/PersianTools.Core" class="btn btn-primary btn-lg">مشاهده در GitHub &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    1
                    <small>مشاهده مناسبتهای یک تاریخ</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">تنظیمات 1</a>
                            </li>
                            <li>
                                <a href="#">تنظیمات 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SelectedDate">
                            انتخاب تاریخ
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="SelectedDate" required="required"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button id="GetDateDatabtn" type="submit" class="btn btn-success">مشاهده اطلاعات</button>
                        </div>
                    </div>
                <br/>
                <div id="DateDataResult" class="row"></div>
 
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/MdBootstrapPersianDateTimePicker/jalaali.js"></script>
    <script src="~/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>

    <script>
        $('#SelectedDate').MdPersianDateTimePicker({
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });
        $('#GetDateDatabtn').click(function () {
            var selDate = $('#SelectedDate').val();
            $.ajax({
                url: '/Home/DateDataView/?theDate=' + selDate,
                type: "GET",
                success: function (data) {
                    $('#DateDataResult').html(data);
                },
                error: function (xhr, status, error) {
                    var msg = "Response failed with status: " + status + "</br>"
                        + " Error: " + error;
                    $('#DateDataResult').html(msg);
                },
                complete: function (xhr, status) {
                    var doneMsg = "Operation complete with status: " + status;
                    //alert(doneMsg);
                }
            });
        });
    </script>

}