

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                لیست شهرها و استان ها
                <small></small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">تنظیمات 1</a>
                        </li>
                        <li>
                            <a href="#">تنظیمات 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <label class="col-md-4 control-label">استان</label>
                <div class="col-md-6">
                    <select class="form-control" id="ddlProvince"></select><br />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">شهر</label>
                <div class="col-md-6">
                    <select class="form-control" id="ddlCity"></select><br />
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            debugger;
            var ddlProvince = $('#ddlProvince');
            ddlProvince.append($("<option></option>").val('').html('انتخاب استان'));
            $.ajax({
                url: '/Home/GetProvinceList',
                type: 'GET',
                dataType: 'json',
                success: function (d) {
                    $.each(d, function (i, Province) {
                        ddlProvince.append($("<option></option>").val(Province.ProvinceId).html(Province.Name));
                    });
                },
                error: function () {
                    alert('Error!');
                }
            });
        });
        ////
         $("#ddlProvince").change(function () {  
            var ProvinceId = parseInt($(this).val());  
  
            if (!isNaN(ProvinceId)) {  
                var ddlCity = $('#ddlCity');  
                ddlCity.empty();  
                ddlCity.append($("<option></option>").val('').html('لطفا منتظر بمانید ...'));  
  
                debugger;  
                $.ajax({  
                    url: '/Home/GetCityList',  
                    type: 'GET',  
                    dataType: 'json',  
                    data: { provinceId: ProvinceId },  
                    success: function (d) {  
  
                        ddlCity.empty(); // Clear the please wait  
                        ddlCity.append($("<option></option>").val('').html('انتخاب شهر'));  
                        $.each(d, function (i, cities) {  
                            ddlCity.append($("<option></option>").val(cities.CityId).html(cities.Name));  
                        });  
                    },  
                    error: function () {  
                        alert('Error!');  
                    }  
                });  
            }  
  
  
        });  
    </script>
}
